# Conexões DBe volume
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress_local_dev
DB_ROOT_PASSWORD=root_local_dev

# Portas expostas
WP_PORT=12000
PMA_PORT=12001

# Prefixo dos containers (mude para rodar múltiplos ambientes na mesma máquina)
CONTAINER_PREFIX=solar